USE [master]
GO
/****** Object:  Database [ArenaGestorDB]    Script Date: 6/2/2023 6:32:13 PM ******/
CREATE DATABASE [ArenaGestorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArenaGestorDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ArenaGestorDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArenaGestorDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ArenaGestorDB_log.ldf' , SIZE = 7744KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArenaGestorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArenaGestorDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistBand]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistBand](
	[ArtistId] [int] NOT NULL,
	[MusicalProtagonistId] [int] NOT NULL,
	[RoleArtistId] [int] NOT NULL,
 CONSTRAINT [PK_ArtistBand] PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC,
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Band]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Band](
	[MusicalProtagonistId] [int] NOT NULL,
 CONSTRAINT [PK_Band] PRIMARY KEY CLUSTERED 
(
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concert]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concert](
	[ConcertId] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](50) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TicketCount] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[LocationId] [int] NOT NULL,
 CONSTRAINT [PK_Concert] PRIMARY KEY CLUSTERED 
(
	[ConcertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConcertProtagonist]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConcertProtagonist](
	[ConcertId] [int] NOT NULL,
	[MusicalProtagonistId] [int] NOT NULL,
 CONSTRAINT [PK_ConcertProtagonist] PRIMARY KEY CLUSTERED 
(
	[ConcertId] ASC,
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countrys]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countrys](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Countrys] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[Place] [nvarchar](50) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Street] [nvarchar](500) NOT NULL,
	[Number] [int] NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicalProtagonist]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicalProtagonist](
	[MusicalProtagonistId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[GenderId] [int] NOT NULL,
 CONSTRAINT [PK_MusicalProtagonist] PRIMARY KEY CLUSTERED 
(
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleArtist]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleArtist](
	[RoleArtistId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RoleArtist] PRIMARY KEY CLUSTERED 
(
	[RoleArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RoleUser] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](max) NULL,
	[Created] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Snack]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Snack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Snack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soloist]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soloist](
	[MusicalProtagonistId] [int] NOT NULL,
	[ArtistId] [int] NOT NULL,
	[RoleArtistId] [int] NOT NULL,
 CONSTRAINT [PK_Soloist] PRIMARY KEY CLUSTERED 
(
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [uniqueidentifier] NOT NULL,
	[TicketStatusId] [int] NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ConcertId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSnack]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSnack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TicketId] [uniqueidentifier] NOT NULL,
	[SnackId] [int] NOT NULL,
 CONSTRAINT [PK_TicketSnack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketStatus]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketStatus](
	[TicketStatusId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TicketStatus] PRIMARY KEY CLUSTERED 
(
	[TicketStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/2/2023 6:32:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220508231847_initial', N'5.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220509021308_check-migration', N'5.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220516212545_UserRole', N'5.0.15')
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([ArtistId], [Name], [UserId]) VALUES (1, N'Paul McCartney', NULL)
INSERT [dbo].[Artist] ([ArtistId], [Name], [UserId]) VALUES (2, N'George Harrison', NULL)
INSERT [dbo].[Artist] ([ArtistId], [Name], [UserId]) VALUES (3, N'Ringo Starr', NULL)
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
INSERT [dbo].[ArtistBand] ([ArtistId], [MusicalProtagonistId], [RoleArtistId]) VALUES (4, 1, 1)
INSERT [dbo].[ArtistBand] ([ArtistId], [MusicalProtagonistId], [RoleArtistId]) VALUES (7, 2, 1)
INSERT [dbo].[ArtistBand] ([ArtistId], [MusicalProtagonistId], [RoleArtistId]) VALUES (13, 7, 1)
GO
INSERT [dbo].[Band] ([MusicalProtagonistId]) VALUES (1)
INSERT [dbo].[Band] ([MusicalProtagonistId]) VALUES (2)
INSERT [dbo].[Band] ([MusicalProtagonistId]) VALUES (7)
GO
SET IDENTITY_INSERT [dbo].[Concert] ON 

INSERT [dbo].[Concert] ([ConcertId], [TourName], [Date], [TicketCount], [Price], [LocationId]) VALUES (1, N'Nevermind', CAST(N'2022-08-15T03:00:00.0000000' AS DateTime2), 50000, 2000, 1)
INSERT [dbo].[Concert] ([ConcertId], [TourName], [Date], [TicketCount], [Price], [LocationId]) VALUES (2, N'The World Tour', CAST(N'2022-06-20T03:00:00.0000000' AS DateTime2), 60000, 10000, 2)
INSERT [dbo].[Concert] ([ConcertId], [TourName], [Date], [TicketCount], [Price], [LocationId]) VALUES (3, N'The Beatles'' 1966 US tour', CAST(N'2022-06-15T01:16:01.1630000' AS DateTime2), 50000, 4000, 3)
SET IDENTITY_INSERT [dbo].[Concert] OFF
GO
INSERT [dbo].[ConcertProtagonist] ([ConcertId], [MusicalProtagonistId]) VALUES (2, 1)
INSERT [dbo].[ConcertProtagonist] ([ConcertId], [MusicalProtagonistId]) VALUES (3, 1)
INSERT [dbo].[ConcertProtagonist] ([ConcertId], [MusicalProtagonistId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[Countrys] ON 

INSERT [dbo].[Countrys] ([CountryId], [Name]) VALUES (1, N'Uruguay')
INSERT [dbo].[Countrys] ([CountryId], [Name]) VALUES (2, N'Argentina')
SET IDENTITY_INSERT [dbo].[Countrys] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderId], [Name]) VALUES (9, N'Blues')
INSERT [dbo].[Gender] ([GenderId], [Name]) VALUES (4, N'Cumbia')
INSERT [dbo].[Gender] ([GenderId], [Name]) VALUES (3, N'Electronica')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [Place], [CountryId], [Street], [Number]) VALUES (1, N'Estadio Centenario', 1, N'Avda. Dr. Américo Ricaldoni', 1234)
INSERT [dbo].[Location] ([LocationId], [Place], [CountryId], [Street], [Number]) VALUES (2, N' Estadio Centenario', 1, N'Avda. Dr. Américo Ricaldoni', 1234)
INSERT [dbo].[Location] ([LocationId], [Place], [CountryId], [Street], [Number]) VALUES (3, N'Antel Arena', 1, N'Av. Damaso A. Larrañaga', 4321)
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[MusicalProtagonist] ON 

INSERT [dbo].[MusicalProtagonist] ([MusicalProtagonistId], [Name], [StartDate], [GenderId]) VALUES (1, N'The Beatles', CAST(N'1964-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[MusicalProtagonist] ([MusicalProtagonistId], [Name], [StartDate], [GenderId]) VALUES (2, N'The Rolling Stones', CAST(N'1962-01-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[MusicalProtagonist] ([MusicalProtagonistId], [Name], [StartDate], [GenderId]) VALUES (3, N'Bob Dylan', CAST(N'1959-01-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[MusicalProtagonist] OFF
GO
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Acomodador')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Administrador')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (5, N'Artista')
GO
INSERT [dbo].[RoleArtist] ([RoleArtistId], [Name]) VALUES (1, N'Cantante')
INSERT [dbo].[RoleArtist] ([RoleArtistId], [Name]) VALUES (2, N'Baterista')
INSERT [dbo].[RoleArtist] ([RoleArtistId], [Name]) VALUES (3, N'Bajista')
GO
INSERT [dbo].[RoleUser] ([RoleId], [UserId]) VALUES (1, 1)
INSERT [dbo].[RoleUser] ([RoleId], [UserId]) VALUES (2, 1)
INSERT [dbo].[RoleUser] ([RoleId], [UserId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [Token], [Created], [UserId]) VALUES (1, N'R0NCJuXHhI2Ym5SNdkjeEwQQ9cdBgRxlZDQcnSrEEq82eawS09HE0j1fl6DeRVmP', CAST(N'2022-05-01T18:36:25.0152013' AS DateTime2), 4)
INSERT [dbo].[Session] ([SessionId], [Token], [Created], [UserId]) VALUES (2, N'Wu1cRSXcEsHAPO7MNGoSO92ngjuGcta5QCDSI7t19QburmeDjsvbHf1X1P5shQAV', CAST(N'2022-05-01T18:36:47.5386123' AS DateTime2), 5)
INSERT [dbo].[Session] ([SessionId], [Token], [Created], [UserId]) VALUES (4, N'fXNkKTCHPCURgTAMSPSlzEdaA72xLG4mMojVWf6NfbzT576J2QK4Vfxb3xjMaP5I', CAST(N'2022-06-14T22:57:11.9833176' AS DateTime2), 8)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Snack] ON 

INSERT [dbo].[Snack] ([Id], [Description], [Price]) VALUES (13, N'Pop', 5)
INSERT [dbo].[Snack] ([Id], [Description], [Price]) VALUES (18, N'Papas', 3)
INSERT [dbo].[Snack] ([Id], [Description], [Price]) VALUES (20, N'Oreos', 5)
SET IDENTITY_INSERT [dbo].[Snack] OFF
GO
INSERT [dbo].[Soloist] ([MusicalProtagonistId], [ArtistId], [RoleArtistId]) VALUES (3, 5, 1)
INSERT [dbo].[Soloist] ([MusicalProtagonistId], [ArtistId], [RoleArtistId]) VALUES (4, 6, 1)
INSERT [dbo].[Soloist] ([MusicalProtagonistId], [ArtistId], [RoleArtistId]) VALUES (5, 10, 4)
GO
INSERT [dbo].[Ticket] ([TicketId], [TicketStatusId], [Email], [ConcertId], [Amount]) VALUES (N'57f1b4cd-d610-4a1c-ef42-08da4e703754', 1, N'sinregistrar@user.com', 3, 100)
INSERT [dbo].[Ticket] ([TicketId], [TicketStatusId], [Email], [ConcertId], [Amount]) VALUES (N'cd3ecf9f-1bac-4003-ef43-08da4e703754', 1, N'espectador@example.com', 3, 100)
INSERT [dbo].[Ticket] ([TicketId], [TicketStatusId], [Email], [ConcertId], [Amount]) VALUES (N'558f9aeb-2df1-4180-ef44-08da4e703754', 1, N'espectador@example.com', 1, 25000)
GO
SET IDENTITY_INSERT [dbo].[TicketSnack] ON 

INSERT [dbo].[TicketSnack] ([Id], [Quantity], [TicketId], [SnackId]) VALUES (17, 5, N'10ff3677-7560-4905-7cda-08db58ad93db', 13)
INSERT [dbo].[TicketSnack] ([Id], [Quantity], [TicketId], [SnackId]) VALUES (18, 5, N'95f2f749-c26d-420c-21c8-08db58b04124', 18)
INSERT [dbo].[TicketSnack] ([Id], [Quantity], [TicketId], [SnackId]) VALUES (19, 5, N'07f75abb-ccca-4e7d-21cb-08db58b04124', 13)
SET IDENTITY_INSERT [dbo].[TicketSnack] OFF
GO
INSERT [dbo].[TicketStatus] ([TicketStatusId], [Status]) VALUES (1, N'Comprado')
INSERT [dbo].[TicketStatus] ([TicketStatusId], [Status]) VALUES (2, N'Utilizado')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Name], [Surname], [Email], [Password]) VALUES (1, N'Francisco', N'Rosello', N'francisco.rosello.fran@gmail.com', N'fran')
INSERT [dbo].[User] ([UserId], [Name], [Surname], [Email], [Password]) VALUES (2, N'Maximiliano', N'Pascale', N'maximiliano.pascale@gmail.com ', N'maxi')
INSERT [dbo].[User] ([UserId], [Name], [Surname], [Email], [Password]) VALUES (3, N'Acomodador', N'Test', N'acomodador@example.com', N'test')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Artist_Name]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Artist_Name] ON [dbo].[Artist]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Artist_UserId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Artist_UserId] ON [dbo].[Artist]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArtistBand_MusicalProtagonistId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ArtistBand_MusicalProtagonistId] ON [dbo].[ArtistBand]
(
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ArtistBand_RoleArtistId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ArtistBand_RoleArtistId] ON [dbo].[ArtistBand]
(
	[RoleArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Concert_LocationId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Concert_LocationId] ON [dbo].[Concert]
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConcertProtagonist_MusicalProtagonistId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConcertProtagonist_MusicalProtagonistId] ON [dbo].[ConcertProtagonist]
(
	[MusicalProtagonistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Gender_Name]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Gender_Name] ON [dbo].[Gender]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Location_CountryId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Location_CountryId] ON [dbo].[Location]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusicalProtagonist_GenderId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_MusicalProtagonist_GenderId] ON [dbo].[MusicalProtagonist]
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MusicalProtagonist_Name]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MusicalProtagonist_Name] ON [dbo].[MusicalProtagonist]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Role_Name]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Role_Name] ON [dbo].[Role]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleUser_UserId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleUser_UserId] ON [dbo].[RoleUser]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Session_UserId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Session_UserId] ON [dbo].[Session]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Soloist_ArtistId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Soloist_ArtistId] ON [dbo].[Soloist]
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Soloist_RoleArtistId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Soloist_RoleArtistId] ON [dbo].[Soloist]
(
	[RoleArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ticket_ConcertId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ticket_ConcertId] ON [dbo].[Ticket]
(
	[ConcertId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ticket_TicketStatusId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ticket_TicketStatusId] ON [dbo].[Ticket]
(
	[TicketStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketSnack_SnackId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketSnack_SnackId] ON [dbo].[TicketSnack]
(
	[SnackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicketSnack_TicketId]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_TicketSnack_TicketId] ON [dbo].[TicketSnack]
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TicketStatus_Status]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TicketStatus_Status] ON [dbo].[TicketStatus]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 6/2/2023 6:32:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArtistBand] ADD  DEFAULT ((0)) FOR [RoleArtistId]
GO
ALTER TABLE [dbo].[Concert] ADD  DEFAULT ((0)) FOR [LocationId]
GO
ALTER TABLE [dbo].[Location] ADD  DEFAULT ((0)) FOR [CountryId]
GO
ALTER TABLE [dbo].[Soloist] ADD  DEFAULT ((0)) FOR [RoleArtistId]
GO
ALTER TABLE [dbo].[Artist]  WITH CHECK ADD  CONSTRAINT [FK_Artist_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Artist] CHECK CONSTRAINT [FK_Artist_User_UserId]
GO
ALTER TABLE [dbo].[ArtistBand]  WITH CHECK ADD  CONSTRAINT [FK_ArtistBand_Artist_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([ArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistBand] CHECK CONSTRAINT [FK_ArtistBand_Artist_ArtistId]
GO
ALTER TABLE [dbo].[ArtistBand]  WITH CHECK ADD  CONSTRAINT [FK_ArtistBand_Band_MusicalProtagonistId] FOREIGN KEY([MusicalProtagonistId])
REFERENCES [dbo].[Band] ([MusicalProtagonistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistBand] CHECK CONSTRAINT [FK_ArtistBand_Band_MusicalProtagonistId]
GO
ALTER TABLE [dbo].[ArtistBand]  WITH CHECK ADD  CONSTRAINT [FK_ArtistBand_RoleArtist_RoleArtistId] FOREIGN KEY([RoleArtistId])
REFERENCES [dbo].[RoleArtist] ([RoleArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtistBand] CHECK CONSTRAINT [FK_ArtistBand_RoleArtist_RoleArtistId]
GO
ALTER TABLE [dbo].[Band]  WITH CHECK ADD  CONSTRAINT [FK_Band_MusicalProtagonist_MusicalProtagonistId] FOREIGN KEY([MusicalProtagonistId])
REFERENCES [dbo].[MusicalProtagonist] ([MusicalProtagonistId])
GO
ALTER TABLE [dbo].[Band] CHECK CONSTRAINT [FK_Band_MusicalProtagonist_MusicalProtagonistId]
GO
ALTER TABLE [dbo].[Concert]  WITH CHECK ADD  CONSTRAINT [FK_Concert_Location_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Concert] CHECK CONSTRAINT [FK_Concert_Location_LocationId]
GO
ALTER TABLE [dbo].[ConcertProtagonist]  WITH CHECK ADD  CONSTRAINT [FK_ConcertProtagonist_Concert_ConcertId] FOREIGN KEY([ConcertId])
REFERENCES [dbo].[Concert] ([ConcertId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConcertProtagonist] CHECK CONSTRAINT [FK_ConcertProtagonist_Concert_ConcertId]
GO
ALTER TABLE [dbo].[ConcertProtagonist]  WITH CHECK ADD  CONSTRAINT [FK_ConcertProtagonist_MusicalProtagonist_MusicalProtagonistId] FOREIGN KEY([MusicalProtagonistId])
REFERENCES [dbo].[MusicalProtagonist] ([MusicalProtagonistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConcertProtagonist] CHECK CONSTRAINT [FK_ConcertProtagonist_MusicalProtagonist_MusicalProtagonistId]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Countrys_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countrys] ([CountryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Countrys_CountryId]
GO
ALTER TABLE [dbo].[MusicalProtagonist]  WITH CHECK ADD  CONSTRAINT [FK_MusicalProtagonist_Gender_GenderId] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([GenderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MusicalProtagonist] CHECK CONSTRAINT [FK_MusicalProtagonist_Gender_GenderId]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_Role_RoleId]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_User_UserId]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_User_UserId]
GO
ALTER TABLE [dbo].[Soloist]  WITH CHECK ADD  CONSTRAINT [FK_Soloist_Artist_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artist] ([ArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Soloist] CHECK CONSTRAINT [FK_Soloist_Artist_ArtistId]
GO
ALTER TABLE [dbo].[Soloist]  WITH CHECK ADD  CONSTRAINT [FK_Soloist_MusicalProtagonist_MusicalProtagonistId] FOREIGN KEY([MusicalProtagonistId])
REFERENCES [dbo].[MusicalProtagonist] ([MusicalProtagonistId])
GO
ALTER TABLE [dbo].[Soloist] CHECK CONSTRAINT [FK_Soloist_MusicalProtagonist_MusicalProtagonistId]
GO
ALTER TABLE [dbo].[Soloist]  WITH CHECK ADD  CONSTRAINT [FK_Soloist_RoleArtist_RoleArtistId] FOREIGN KEY([RoleArtistId])
REFERENCES [dbo].[RoleArtist] ([RoleArtistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Soloist] CHECK CONSTRAINT [FK_Soloist_RoleArtist_RoleArtistId]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Concert_ConcertId] FOREIGN KEY([ConcertId])
REFERENCES [dbo].[Concert] ([ConcertId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Concert_ConcertId]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_TicketStatus_TicketStatusId] FOREIGN KEY([TicketStatusId])
REFERENCES [dbo].[TicketStatus] ([TicketStatusId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_TicketStatus_TicketStatusId]
GO
ALTER TABLE [dbo].[TicketSnack]  WITH CHECK ADD  CONSTRAINT [FK_TicketSnack_Snack_SnackId] FOREIGN KEY([SnackId])
REFERENCES [dbo].[Snack] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSnack] CHECK CONSTRAINT [FK_TicketSnack_Snack_SnackId]
GO
ALTER TABLE [dbo].[TicketSnack]  WITH CHECK ADD  CONSTRAINT [FK_TicketSnack_Ticket_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Ticket] ([TicketId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSnack] CHECK CONSTRAINT [FK_TicketSnack_Ticket_TicketId]
GO
USE [master]
GO
