<div class="d-flex flex-row justify-content-between">
    <div class="d-flex">
        <h2>Vender tickets</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                {{selectedTourName}}
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Cantidad de boletos</label>
                    <input type="number" class="form-control" name="ammount" [(ngModel)]="amount">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row justify-content-between">
    <div class="d-flex">
        <h2>Comprar snacks</h2>
    </div>
</div>

<div class="mb-3">
  <label class="form-label">Snacks</label>
  <select class="form-select" name="snackId" [(ngModel)]="selectedSnackId">
      <option *ngFor="let snack of snackList" [value]="snack.id">{{snack.description}}</option>
  </select>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">

            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Cantidad de snacks</label>
                    <input type="number" class="form-control" name="amountSnacks" [(ngModel)]="amountSnacks">
                </div>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-primary btn-small" (click)="Confirmar()">Confirmar</button>
